<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors = "true" >
	<testsuites>
		<testsuite name="All Tests">
			<directory>.</directory>
		</testsuite>
<!--
		<testsuite name="Unit Tests">
			<directory>unit</directory>
		</testsuite>
		<testsuite name="Integration Tests">
			<directory>integration</directory>
		</testsuite>
-->
	</testsuites>
	<logging>
		<log type="junit" target="../buildoutput/phpunit-log-junit.xml" />
		<log type="coverage-clover" target="../buildoutput/phpunit-coverage-clover.xml" />
		<log type="coverage-html" target="../buildoutput/phpunit-coverage-html" title="ContextSpecification" />
		<log type="coverage-text" target="../buildoutput/phpunit-coverage-text.txt" title="ContextSpecification" />
	</logging>
</phpunit>